<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--parallel 
	<suite name="Suite" parallel="methods" thread-count="5"> 
	<suite name="Suite" parallel="classes" thread-count="5"> 
	Suite order should be 
	<suite> ::= (groups?, (listeners | packages | test | parameter | method-selectors | suite-files)*)
-->
<suite name="Suite" parallel="tests" thread-count="5" >

 <!--    use for comment 
    <groups>
      <run>
        <include name="ErrorValidationForEmptyFields" />
      </run>
    </groups>
     -->

  <listeners>
    <listener class-name="personal.TestComponents.Listeners" />
  </listeners>

  <test thread-count="5" name="Placing an order">
    <classes>
      <class name="personal.tests.SubmitOrderTest"/>
    </classes>

  </test>

  <test name="Error Validation" >
    <classes>
      <class name="personal.tests.ErrorValidationTest"/>
    </classes>
  </test>

</suite>
